.code-editor-navbar {
    padding: 8px 20px;
    height: auto;
    color: #afec3f;
    background-color: #474747;
    border-radius: 8px 8px 0 0;
}

.navbar-divider {
    background-color: #afec3f;
    width: 2px;
    margin: 0 20px !important;
}