.published-exam-table-container {
    margin-top: 10px;
}

.published-exam-button-root {
    font-size: 12px !important;
    width: 95px !important;
    height: 28px !important;
}

.published-exam-confirm-popup-title {
    font-family: 'IBM Plex Sans' !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.published-exam-popup-modal {
    z-index: 3000 !important;
    font-family: 'IBM Plex Sans';
}

.published-exam-popup-backdrop-modal {
    z-index: 3000 !important;
}

.published-exam-popup-cancel-button {
    width: 100px;
    margin: 0 5px !important;
    background-color: #a1a1a1 !important;
}

.published-exam-popup-confirm-button {
    width: 100px;
    margin: 0 5px !important;
}

.published-exam-btn-root {
    font-size: 14px !important;
    text-transform: none !important;
}