.question-item-edit-popup-modal {
    z-index: 1300 !important;
    font-family: 'IBM Plex Sans';
}

.question-item-edit-popup-title {
    font-family: 'IBM Plex Sans' !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.question-item-edit-popup-backdrop-modal {
    z-index: 1300 !important;
}

.question-item-edit-popup-confirm-button {
    width: 95px;
    height: 32px;
    margin: 0 5px !important;
    text-transform: none !important;
}

.question-item-edit-popup-cancel-button {
    width: 95px;
    height: 32px;
    margin: 0 5px !important;
    background-color: #a1a1a1 !important;
    text-transform: none !important;
}