.question-item-add-popup-modal {
    z-index: 1300 !important;
    font-family: 'IBM Plex Sans';
}

.question-item-add-popup-title {
    font-family: 'IBM Plex Sans' !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.question-item-add-popup-backdrop-modal {
    z-index: 1300 !important;
}

.question-item-add-popup-warning-message {
    font-size: 14px;
    font-weight: 400;
    font-family: 'IBM Plex Sans';
    color: red;
    padding-left: 20px;
}

.question-item-add-popup-add-option-button {
    width: 100%;
    height: 32px;
    text-transform: none !important;
}

.question-item-add-popup-confirm-button {
    width: 95px;
    height: 32px;
    margin: 0 5px !important;
    text-transform: none !important;
}

.question-item-add-popup-cancel-button {
    width: 95px;
    height: 32px;
    margin: 0 5px !important;
    text-transform: none !important;
    background-color: #a1a1a1 !important;
}

.question-item-add-popup-testcase-no-root {
    text-wrap: nowrap;
    color: #376fd0;
    font-weight: 600 !important;
}
