.reset-password-popup-modal {
    z-index: 3000 !important;
    font-family: 'IBM Plex Sans';
}

.reset-password-popup-title {
    font-family: 'IBM Plex Sans' !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.reset-password-popup-backdrop-modal {
    z-index: 3000 !important;
}