.add-document-popup-modal {
    z-index: 3000 !important;
    font-family: 'IBM Plex Sans';
}

.add-document-popup-title {
    font-family: 'IBM Plex Sans' !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.add-document-popup-backdrop-modal {
    z-index: 3000 !important;
}

.add-document-popup-text-field {
    margin-bottom: 15px;
}

.add-document-popup-confirm-button {
    width: 110px;
    margin: 0 5px !important;
}

.add-document-popup-cancel-button {
    width: 110px;
    margin: 0 5px !important;
    background-color: #a1a1a1 !important;
}

.add-document-popup-warning-message {
    font-size: 14px;
    font-weight: 400;
    font-family: 'IBM Plex Sans';
    color: red;
}