.question-item-divider {
    max-width: 250px;
    width: 40%;
    background-color: black;
    margin: 8px 0 !important;
}

.question-item-test-case-title {
    text-wrap: nowrap;
    font-weight: 600 !important;
}