.class-exam-room-container-0 {
    background-color: #ffffff;
    height: 100%;
    margin: 10px 10px 10px 10px;
}

.class-exam-room-container-1 {
    padding: 20px 20px 10px 20px;
}

.class-exam-room-breadcrum-li {
    font-size: 18px;
    color: #376fd0;
}

.class-exam-room-typography-root-01 {
    font-size: 18px !important;
    color: #376fd0;
    font-weight: 400 !important;
}

.class-exam-room-typography-root-01:hover {
    text-decoration: underline;
    cursor: pointer;
}

.class-exam-room-typography-root-02 {
    font-size: 18px !important;
    color: #376fd0;
    font-weight: 600 !important;
}

.class-exam-room-container-2 {
    padding: 15px 75px;
    min-width: 600px;
}

.class-exam-room-input-label-props-root {
    color: #1976d2 !important;
}

.class-exam-room-input-props-input {
    -webkit-text-fill-color: #1976d2 !important;
    font-weight: 600 !important;
}

.class-exam-room-input-props-notched-outline {
    border-color: #1976d2 !important;
}

.class-exam-room-btn-root {
    font-size: 15px !important;
    text-transform: none !important;
}

.class-exam-room-divider {
    color: #074E9F;
    margin-top: 14px !important;
}

.class-exam-room-popup-modal {
    z-index: 3000 !important;
    font-family: 'IBM Plex Sans';
}

.class-exam-room-popup-backdrop-modal {
    z-index: 3000 !important;
}

.class-exam-room-popup-title {
    font-family: 'IBM Plex Sans' !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.class-exam-room-popup-ok-button {
    width: 100px;
    margin: 0 5px !important;
}