.class-detail-container-0 {
    background-color: #ffffff;
    height: 100%;
    margin: 10px 10px 10px 10px;
}

.class-detail-container-1 {
    padding: 20px 25px 10px 25px;
}

.class-detail-breadcrum-li {
    font-size: 18px;
    color: #376fd0;
}

.class-detail-typography-root {
    font-size: 18px !important;
    color: #376fd0;
    font-weight: 600 !important;
}

.class-detail-container-2 {
    border: 1px solid #376fd0;
    border-radius: 8px;
    margin: 5px 25px;
    padding: 10px;
}

.class-detail-class-infor {
    margin-bottom: 15px;
}

.class-detail-class-title {
    color: #376fd0;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    margin-bottom: 5px;
}

.class-detail-class-content {
    color: #376fd0;
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    margin: 0 15px 5px 15px;
    text-align: justify;
}

.class-detail-button-root {
    font-size: 12px !important;
    width: 120px !important;
    height: 28px !important;
}